html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: blanchedalmond;
}


.footer {
    padding: 20px 0;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-collapse {
    justify-content: space-between;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-link {
    color: #f8f9fa;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
   color: #007bff;
}

.view-details-btn {
    background-color: black;
    color: white;
}

.custom-search-btn {
    color: white;
}

.animate-fade-in {
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




